<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Iniciar Sesión</h3>
                </div>
                <div class="card-body">
                    <br>
                    <form class="table-responsive" action="/signin" method="POST">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-user-circle" aria-hidden="true"></i></span>
                            <input type="text" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" placeholder="Usuario" name="user" autofocus required>
                        </div>
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm"><i class="fa fa-unlock" aria-hidden="true"></i></span>
                            <input type="password" class="form-control" aria-label="Sizing example input"
                                aria-describedby="inputGroup-sizing-sm" placeholder="Contraseña" name="contrasenia" required>
                        </div>                        
                        <div class="form-group">
                            <button class="btn btn-success mb-2"><i class="fas fa-user-lock"></i> Iniciar Sesión</button>
                        </div>
                        <div>
                            <h6 style="font-size:10px">Última Actualización del Sistema 2021</h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
   
